fastapi
uvicorn
fastapi-cli
pandas
numpy
joblib
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
nltk
scikit-learn
scipy
gunicorn
bcrypt
email-validator
huggingface_hub
python-dotenv
